*

!.gitignore
!.github
!.github/**/*
!FrequenC.sln
!FrequenC.vcxproj
!FrequenC.vcxproj.filters
!FrequenC.vcxproj.user
!API.md
!CLIENT_DEVELOPMENT.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!Makefile
!packages.config
!README.md
!tests
!tests/*
!sources
!sources/*
!lib
!lib/*
!licenses
!licenses/*
!include
!include/*
!external
!external/*
!docs
!docs/*
